.teamReportPage {
	background: #2b363f;

	ion-header {
		ion-toolbar {
			--padding-start: 1rem;
			--padding-end: 1rem;

			h4 {
				color: white;
			}

			ion-button {
				font-size: 20px;
			}
		}
	}

	ion-content {
		.tabBox1::before {
			content: 'time';
			color: white;
			margin-right: 5px;
			line-height: 30px;
		}

		.tabBox2::before {
			content: 'level';
			line-height: 30px;
			color: white;
			margin-right: 5px;
		}

		.tabBox2 {
			margin-bottom: 20px;
		}

		.tabBox1,
		.tabBox2 {
			height: 30px;

			span {
				border-radius: 12px;
				background: #53616d;
				color: #cacaca;
				padding: 5px 12px;
				margin: 0 2px;
				margin-right: 10px;
				width: 60px;
				height: 30px;
				white-space: nowrap;
				text-align: center;
				// &:active {
				// 	color: white;
				// 	background: #77a2d8;
				// }

				// &:hover,
				// &:active,
				// &:focus-visible {
				// 	background-color: #77a2d8;
				// 	color: white;
				// }
			}

			.active {
				background-color: #77a2d8;
				color: white;
			}
		}

		.diplayRange {
			background: #414d59;
			padding: 0px 1rem;
			color: white;

			p {
				width: 10px;
				border: 1px solid white;
			}

			ion-datetime {
				padding: 0;
			}
		}

		ion-card {
			background: #414d59;

			p {
				margin: 5px 0 0 0;
				color: #b1b5b8;
			}
		}

		.itemBody {
			margin-top: 1rem;
			border-radius: 1rem;
			overflow: hidden;
			background: #414d59;

			.dataItem {
				padding: 5px 0;
				border-bottom: 1px solid rgb(226, 226, 226);

				&:last-child {
					border-bottom: none;
				}

				ion-img {
					width: 45px;
					height: 45px;
					border-radius: 50%;
					overflow: hidden;
					border: 2px solid white;
				}

				div {
					margin-left: 10px;

					p {
						margin: 0;
						color: #b1b5b8;
						font-size: 12px;
					}

					.userName {
						color: white !important;
					}
				}
			}
		}
	}

	ion-footer {
		--background: transparent;

		.footerLine {
			width: 40%;
			border: 3px solid white;
			border-radius: 10px;
		}
	}
}