.tabsBox {
    padding-top: 10px;

    ion-img {
        width: 25px;
    }

    ion-label {
        font-size: 0.8rem !important;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .tabItemBox {

        ion-img {
            margin: -7px auto 5px;
        }

        ion-label {
            color: #666666;
            margin-top: 5px !important;
        }
    }
}