.orderPage {
	background: #2a353e;

	ion-header {
		background: #2a353e;

		h4 {
			color: white;
		}

		ion-toolbar {
			ion-icon {
				color: white;
				font-size: 1.5rem;
				border-radius: 50%;
				padding: 5px;
				background: #424a53;
				font-weight: bold;
				margin-top: 5px;
			}
		}
	}

	ion-content {
		.topCard {
			color: white;
			border-radius: 1rem;
			background: #424f5c;
			padding: 1rem 0;
			margin: 0;
			margin-bottom: 1rem;

			.balanceAmount {
				margin-bottom: 0;
				margin-top: 10px;
			}

			ion-img {
				border-radius: 50%;
				border: 2px solid gray;
				width: 50px;
				height: 50px;
				background: white;
				padding: 5px;
			}
		}

		.orderCard {
			background: url(./3.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			padding: 1rem;
			padding-bottom: 30px;
			color: white;
			border-radius: 1rem;
			margin: 0;

			h4 {
				margin: 5px 0;
			}

			.cardDetail {
				flex-wrap: nowrap;
				font-size: 12px;

				div {
					width: 200px;
				}
			}

			ion-img[alt='tooltip'] {
				background: #424a53;
				padding: 5px;
				border-radius: 50%;
				width: 30px;
				height: 30px;
			}

			ion-img[alt='badge'] {
				width: 70px;
				height: 70px;
			}

			p {
				margin-top: 5px;
				margin-bottom: 0;
			}

			.orderAmount {
				width: 100px;
				height: 30px;

				span {
					font-size: 18px;
				}

				.roundedNumber {
					width: 35px;
					height: 35px;
					line-height: 30px;
					color: #4c70e6;
					border-radius: 50%;
					background: white;
					padding: 5px;
					font-size: 18px;
					text-align: center;
					transform: translateY(-4px);
				}
			}
		}

		.orderList {
			background: #3c4956;
			border-bottom-left-radius: 1rem;
			border-bottom-right-radius: 1rem;
			margin: 0 20px;
			color: white;

			div {
				padding: 10px;
				border-bottom: 1px solid #6c6c6cad;

				&:last-child {
					border: none;
				}
			}
		}

		ion-button {
			margin-left: 20px;
			margin-right: 20px;
		}
	}
}