.dialogBox {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	background: rgba($color: #000000, $alpha: 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	.dialog {
		position: relative;
		width: 50%;
		height: 50%;
		text-align: center;
		background-color: #fff;
		text-align: center !important;
	}
}
