.languageBox {
	padding: 5px;
	background-color: #212932;
	border-radius: 60px;
	margin-bottom: 1rem;
	cursor: pointer;
	color: white;

	&:hover,
	&:active,
	&:focus-visible {
		background-color: #77a2d8;
		color: white;
	}

	ion-img {
		width: 40px;
		height: 40px;
		margin-right: 1rem;
	}
}

.ion-align-items-center {
	display: flex;
	justify-content: space-between;
}