.recordPage {
    background: #222c35;

    ion-header {
        background: #2b363f;

        h4 {
            color: white;
        }

        ion-toolbar {
            --padding-start: 1rem;
            --padding-end: 1rem;

            ion-button {
                font-size: 20px;
            }
        }
    }

    ion-content {
        // h4 {
        //     color: #0099fe;
        // }


        ion-grid {
            background: #2a353e;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            padding-bottom: 30px;
            padding-top: 50px;

            ion-img {
                width: 100%;
                padding: 2rem;
            }

            ion-card {
                background: #3c4854;
                color: white;

                p {
                    margin: 0;
                }

                ion-img {
                    width: 50px;
                    padding: 10px 0 0;
                }
            }
        }
    }
}

.supportTip {
    text-transform: none !important;
}