.withdrawPage {
	background: #2a353e;

	ion-header {
		.custom-back {
			color: black !important;
		}

		ion-toolbar {
			--padding-start: 1rem;
			--padding-end: 1rem;

			h4 {
				color: white;
			}

			ion-button {
				font-size: 20px;
			}
		}
	}

	ion-content {
		ion-card {
			background: url(./1.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			color: #909ca5;
		}

		h2 {
			margin-top: 10px;
			color: white !important;
		}

		ion-input {
			margin-bottom: -1rem !important;
			background-color: #424f5c;
			color: white;
		}

		ion-label {
			color: white;
			display: block;
			// margin-bottom: 20px;
		}

		p {
			margin: 5px 0;
			color: whit;
		}

		span {
			color: white !important;
		}

		.selectItem {
			margin-top: 30px;
			height: 50px;
			background-color: #424f5c;
			border-radius: 30vw;
			border: none;
			color: rgb(158, 158, 158);

			&::part(native) {
				background: #424f5c !important;
			}
		}
	}

	ion-footer {
		--background: transparent;

		.footerLine {
			width: 40%;
			border: 3px solid white;
			border-radius: 10px;
		}
	}
}