// * {
// 	padding-inline-start: unset;
// }
.bankPage {
	background: #2a353e;

	ion-header {
		h4 {
			color: white;
		}

		ion-toolbar {
			--padding-start: 1rem;
			--padding-end: 1rem;

			ion-button {
				font-size: 20px;
			}
		}
	}

	ion-content {
		ion-label {
			color: white;
			display: block;
			// margin-bottom: 20px;
		}

		p {
			color: white;
		}

		.tipComment {
			font-size: 14px;
			color: rgb(117, 117, 117);
		}

		ion-input {
			background: #424f5c;
			color: white;
		}

		// ion-radio-group {
		// 	ion-item {
		// 		background: #424f5c;
		// 		color: white;
		// 	}
		// }

		ion-col {
			ion-item {
				--ion-color-base: var(--ion-color-light) !important;

				.item-inner {
					border: none !important;
				}

				.item-native {
					background-color: #424f5c !important;
				}

				ion-label {
					color: #b9b9b9 !important;
				}
			}

			.selectItem {
				height: 50px;
				background-color: #424f5c;
				border-radius: 30vw;
				border: none;
			}

			.radioItem {
				margin-top: 5px;
				margin-bottom: 30px;
				height: 50px;
				background-color: #424f5c;
				border-radius: 30vw;
				border: none;

				.item-native {
					background: #424f5c !important;
				}
			}

			.radioItem::part(native) {
				background: #424f5c !important;
			}
		}
	}

	.type {
		font-size: 16px;
		font-weight: 500;
		color: white;
	}
}