.accountPage {
	background: #2a353e;

	ion-header {
		background: #2a353e;

		h4 {
			color: white;
		}

		ion-toolbar {
			ion-icon {
				color: white;
				font-size: 1.5rem;
				border-radius: 50%;
				padding: 5px;
				background: #424a53;
				font-weight: bold;
				margin-top: 5px;
			}
		}
	}

	ion-content {
		ion-card {
			background: url(./1.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			color: white;

			.userInfo {
				h5 {
					margin: 0;
				}

				.userAvatar {
					width: 50px;
					border-radius: 50%;
					border: 2px solid white;
					overflow: hidden;
					margin-right: 5px;
				}

				.inviteImg {
					width: 16px;
					margin-left: 5px;
				}
			}

			.usreBadge {
				width: 40px;
			}
		}

		.accountItemBox {
			background-color: #36424f;

			.accountLinkTab {
				padding: 0.9rem;
				border-bottom: 1px solid #95959534;

				.accountLinkTabTitle {
					ion-row {
						align-items: center;

						ion-img {
							width: 28px;
							margin-right: 10px;
						}

						span {
							color: white;
							font-size: 16px !important;
						}
					}
				}

				.accountLinkTabArrow {
					ion-icon {
						color: #959da6;
					}
				}
			}

			.noBorder {
				border: none;
			}
		}
	}

	#alert-1-hdr {
		color: #000;
	}

	.my-custom-class {
		--background: #e5e5e5;
	}
}