.forgotPage {
    background: #2a353e;

    ion-header {
        background: #2b363f;

        ion-toolbar {
            --padding-start: 1rem;
            --padding-end: 1rem;

            h4 {
                color: white;
            }

            ion-button {
                font-size: 20px;

                ion-back-button {
                    ion-icon {
                        fill: black;

                    }
                }

            }
        }
    }
}